<!DOCTYPE html>
<html lang="ja">

<head>
  <mata charset="UTF-8">
    <title>Memo App</title>
    <link rel="stylesheet" href="/normarize.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
    <h1><a href="/memos">Memo App</a></h1>
  </header>
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>
</body>

</html>
